<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test Template</title>

    <!-- start:CSS -->
    <link rel="stylesheet" async=true type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700">
    <link href="../../css/normalize.css" type="text/css" rel="stylesheet"/>    
    
    <link href="../../css/owl.carousel.css" type="text/css" rel="stylesheet"/>
    <link href="../../css/owl.theme.css" type="text/css" rel="stylesheet"/>
    <link href="../../css/custom.css" type="text/css" rel="stylesheet"/>

  </head>

  <body>
  	<!-- start: header -->
    <header>
        <div id="home">
        	<div class="header fontlig">
            	<div class="container">
					<div class="logo">
						<div class="colorW f40">Black Sea</div>
					</div>
                    <nav class="top-nav">
                        <ul id="navTop" class="top-nav sm-nav">
                            <li><a href="index.html" class="active">HOME</a></li><span class="sm-dn">&nbsp;/</span>
                            <li><a href="about.html">ABOUT ME</a></li><span class="sm-dn">&nbsp;/</span>
                            <li><a href="portfolio.html">PORTFOLIO</a></li><span class="sm-dn">&nbsp;/</span>
                            <li><a href="#contact" class="scroll">CONTACT ME</a></li>
                        </ul>
                        <a href="#" id="pull"><img src="../../images/menu-icon.png" title="menu" /></a>
                    </nav>
					<div class="clearfix"> </div>
				</div>
            </div>
            
        </div>
    </header>
    <!-- end: header -->
    
    <!--start:slider-->
    <div class="mainBanner banner fontlig">
    
    
    	<div class="callbacks_container">
        
        <div id="owl-demo" class="owl-carousel">
			        	<div class="item">
							<div class="banner-top">
								<h1>WE NEED THE TONIC OF WILDNESS 1</h1>	
								<div class="bttn">
									<a href="#">Read more</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="banner-top">
								<h1>WE NEED THE TONIC OF WILDNESS 2</h1>	
								<div class="bttn">
									<a href="#">Read more</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="banner-top">
								<h1>WE NEED THE TONIC OF WILDNESS 3</h1>	
								<div class="bttn">
									<a href="#">Read more</a>
								</div>
							</div>
						</div>
				</div>
     
     
     	</div>
    
					
    </div>
    <!--end:slider-->
    
    <!--start:section-->
    <section>
    	<div class="time fontlig">
				<div class="container">
					<div class="time-top fontreg">
						<h3>At the same time that we are earnest to explore &amp; learn all things</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
                    
					<div class="time-bottom">
						
                        <div class="fl_box">
                        	<div class="mainsprite img1"></div>
                        </div>
                        <div class="fl_box">
                        	<div class="mainsprite img2"></div>
                        
                        </div>
                        <div class="fl_box">
                        	<div class="mainsprite img3"></div>
                        
                        </div>
                        
					</div>
                    
                    
                    
				</div>
			</div>    
    </section>    
    <!--end:section-->
    
    <!--start:map-->
   <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>
    <!--end:map-->
    <!--start:footer-->
    <footer>
    	<div class="fullwid footer-bg txtc colorW fontlig lh1 f14">
        	Copyright © 2012 Css Author.com
        </div>
    </footer>
    
    <!--end:footer-->
    





    <!-- start: JavaScript files -->
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
     <script type="text/javascript" src="../../js/owl.carousel.js"></script>
     <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({

      navigation : true,
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem : true

      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

      });
    });
    </script>
   
    
    <script type="text/javascript" src="../../js/customjs.js"></script>
    

  </body>

</html>
